/* Initial State */
.pokemon-card {
    opacity: 1;
    transform: none;
}

/* Pokémon Sprite */
.pokemon-sprite{
    opacity:0;
    transform:scale(.75);
    transition:
        opacity .35s ease,
        transform .35s cubic-bezier(.22,.61,.36,1);
}

/* When loaded */
.pokemon-sprite.loaded{
    opacity:1;
    transform:scale(1);

    animation: pokemonFloat 3s ease-in-out infinite;
}

/* Idle Floating */
@keyframes pokemonFloat{
    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-5px);
    }

    100%{
        transform:translateY(0px);
    }
}

/* Premium Hover */
.pokemon-card:hover .pokemon-sprite.loaded{
    transform:
        translateY(-10px)
        scale(1.18)
        rotate(-4deg);

    transition:
        transform .28s cubic-bezier(.22,.61,.36,1);
}

.pokemon-glow{
    opacity:.35;
    animation:glowPulse 3.5s ease-in-out infinite;
    will-change:transform,opacity;
}

@keyframes glowPulse{

    0%{
        transform:scale(1.5);
        opacity:.20;
    }

    50%{
        transform:scale(2);
        opacity:.45;
    }

    100%{
        transform:scale(1.5);
        opacity:.20;
    }

}